img {
	width: 100%;
	height: 250px;
}


section {	
	background: #FAEFCE;
	text-align: center;
	border-top: 10px solid orange;
	border-left: 3px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-top: 150px;
	padding-bottom: 150px;

}

a {
	text-decoration: none;
	/*font-family: Courier, "Lucida Console", monospace;*/
	font-weight: bolder;

}

head {
	margin: 0px;
	padding: 0px;
}

footer img {
	height: 100px;
}

footer p {
	text-align: center;
	font-weight: bolder;
	background: #323345;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

#content {
	padding-left: 50px;
	padding-right: 50px;
}

/*Mobile (landscape)*/
@media only screen and (min-width: 280px) and (max-width: 500px) {
	img {
		height: 100px;
	}

}